#head-wrap {
  background-color: #323232;
  border: none;
  margin-bottom: 0px;
}
.form-signin-heading {
  padding-bottom: 10px;
}
/* 头部的后代元素的字体设置 */
#head-wrap * {
  color: #fff;
  font-size: 14px;
}
/* 头部导航条 */
#head-wrap #head {
  display: flex;
  justify-content: center;
}
/* 头部菜单列表 */
#bs-example-navbar-collapse-1 {
  border-top: none;
  width: 63%;
  z-index: 1;
}
#bs-example-navbar-collapse-1 > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* 头部菜单下面的每个列表里面的a标签 */
#bs-example-navbar-collapse-1 > ul > li > a {
  padding: 0px;
  line-height: 50px;
}
/* 下拉菜单 */
.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
  max-height: 462px;
}
/* 隐藏下拉的苹果logo */
#mobile-logo {
  display: none;
}
/* 隐藏下来的购物带 */
#mobile-cart-button {
  display: none;
}

/* 隐藏下来的购物袋信息 */
#mobile-cart-box {
  display: none;
}
/*头部搜索框 */
#bs-example-navbar-collapse-1 #head-search {
  display: none;
}
/* 苹果图标大小 */
#bs-example-navbar-collapse-1 > ul > li > a > i {
  font-size: 21px;
}

/* 搜索图标 */
#head-wrap #head #bs-example-navbar-collapse-1 > ul > li > form {
  margin: 0px;
}
#head-wrap #head #bs-example-navbar-collapse-1 > ul > li > form > button {
  background-color: #323232;
  border: none;
}
#head-wrap #head #bs-example-navbar-collapse-1 > ul > li > form > button > i {
  color: #fff;
  font-size: 27px;
}
#head-wrap #head #bs-example-navbar-collapse-1 > ul > li > form > button:focus {
  outline: none;
}
/* 购物车图标 */
#head-wrap #head #bs-example-navbar-collapse-1 > ul #cart-info > a {
  padding: 0px 12px;
  line-height: 48px;
}
/* 购物袋的下拉菜单 */
#head-wrap #head #bs-example-navbar-collapse-1 > ul > li > .dropdown-menu {
  left: -200%;
  width: 243px;
  /* text-align: center; */
}

/* 购物车信息 */
#bs-example-navbar-collapse-1 > ul > li > .dropdown-menu > li:first-child {
  color: #969696;
  text-align: center;
  font-size: 14px;
  padding: 35px 0;
}
#head-wrap
  #head
  #bs-example-navbar-collapse-1
  > ul
  > li
  > .dropdown-menu
  > li
  > a {
  color: #3674cb;
  padding: 10px 30px;
}
#head-wrap
  #head
  #bs-example-navbar-collapse-1
  > ul
  > li
  > .dropdown-menu
  > li
  > a
  > i {
  color: #3674cb;
  padding-right: 10px;
}
/* 身体 */
#login-wrap {
  margin-top: 44px;
}
/* 身体结束 */

/* footer开始 */
#footer-help {
  text-align: center;
  margin-top: 50px;
  border-top: 1px solid #d6d6d6;
  padding: 20px;
}
#footer-help h3 {
  font-weight: 400;
}
#footer-wrap {
  margin-bottom: 0;
}
#footer-info > p {
  font-size: 12px;
}
#footer-info {
  border-bottom: 1px solid #d6d6d6;
}
#footer-list {
  margin-top: 10px;
  display: flex;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  color: #dadee0;
  background-color: #fafafa;
  border-color: #fafafa;
}
.list-group-item {
  display: flex;
  flex-direction: column;
  position: relative;
  display: block;
  color: #646464;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fafafa;
  border: 1px solid #fafafa;
  padding: 2px;
}
a.list-group-item:focus,
a.list-group-item:hover,
button.list-group-item:focus,
button.list-group-item:hover {
  color: #555;
  text-decoration: none;
  background-color: #fafafa;
  text-decoration: underline;
}
/* footer其他信息 */
#footer-exinfo {
  border-bottom: 1px solid #d6d6d6;
}
#footer-exinfo > p {
  font-size: 13px;
  font-weight: 500;
}
#footer-exinfo > p > a {
  color: #3674cb;
}
/* footer-warning开始 */
#footer-warning > ul {
  display: flex;
  flex-wrap: wrap;
}
#footer-warning > ul > li {
  margin-right: 20px;
  position: relative;
}
#footer-warning > ul > li > a {
  color: #667078;
  font-size: 12px;
}
#footer-warning > ul > li:first-child {
  line-height: 21px;
  color: #888a8b;
  font-size: 13px;
  padding: 0;
  margin: 0;
}
#footer-warning > ul > li + li:before {
  content: '';
  width: 1px;
  height: 16px;
  display: block;
  line-height: 5px;
  position: absolute;
  top: 4px;
  right: -10px;
  background-color: #d6d6d6;
}

#footer-warning > p {
  font-size: 12px;
  color: #666;
  font-weight: 400;
}

/* footer结束 */
